@model ML.SubSubCategorias
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Letra {
        color: blue;
        font-size: 20px;
        font-family: Arial;
    }
</style>
<script src=" https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
@Scripts.Render("~/bundles/jquery")
<script src=" https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<div class="text-center">
    <h1>Registros de SubSubCategorias</h1>
    <h2>SubSubCategorias</h2>
</div>
<hr />

<div class="col-auto ms-auto">
    <a href="@Url.Action("Form", "SubSubCategorias")" class="btn btn-success">Agregar</a>
</div>

@if (Model.SubSubCategoriasObject.Count > 0)
{
    <table class="table table table-dark table-hover table-striped Letra text-center" id="myTable">
        <thead>
            <tr class="table-secondary">
                <th class="text-center">Editar</th>
                <th>IdSubCategorias</th>
                <th>Nombre</th>
                <th>IdCategorias</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (ML.SubSubCategorias subSubCategorias in Model.SubSubCategoriasObject)
            {

                <tr>
                    <td class="text-center"><a class="btn btn-warning" href="@Url.Action("Form","SubSubCategorias", new {IdSubSubCategorias = subSubCategorias.IdSubSubCategorias})"><i class="fa-solid fa-pen fa-bounce" style="color: #000000;" width="100" height="100"></i></a></td>
                    <td>@subSubCategorias.IdSubSubCategorias</td>
                    <td>@subSubCategorias.Nombre</td>
                    <td>@subSubCategorias.SubCategorias.IdSubCategorias</td>
                    <td class="text-center"> <a class="btn btn-danger" href="@Url.Action("Delete", "SubSubCategorias" ,new {IdSubSubCategorias = subSubCategorias.IdSubSubCategorias})" onclick="return confirm('Estas seguro de que deseas eliminar este registro?');"><i class="fa-solid fa-trash fa-bounce" width="100" height="100"></i></a>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}

<script type="text/javascript">
    let table = new DataTable('#myTable', {
        reponsive: true,
        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        searching: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
        },
    });

    function ChangeStatus(idUsuario, e) {
        var status = e.checked

        $.ajax({
            url: '@Url.Action("ChangeStatus")',
            data: { IdUsuario: idUsuario, Status : status },
            type: 'POST',
            dataType : 'json',
            success: { },
            error: {
                //alert('Ocurrio un error')
            }

        })


    }

</script>